@import url("components_index/footer.css");
@import url("components_index/header.css");
@import url("components_contato/form.css");

*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow: hidden;
	background-color: black;
	color: white;
}