section {
  margin: 40px;
}
img {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  left: 100px;
  transition: transform 0.5s ease-in;
}
img:hover {
  transform: scale(1.1);
}
