form {
	position: relative;
	background-color:#1B1B1B;
	top: 100px;
	padding: 20px;
	border-radius: 8px;
	margin: auto;
	width: 700px;
	height: 700px;
}
label {
	font-weight: bold;
}
input, textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
button {
	background-color: #3F8E00;
	width: 300px;
	height: 60px;
	color: white;
	padding: 10px;
	border-radius: 4px;
}